<h1>Welcome to the index route!</h1>

<% boards.forEach(function(board){ %>
  <div style="background:<%= board.background %>;">
    <%= board.title %>
  </div>
<% }); %>

<a href="/boards/new">Create a new board</a>
