<h1>NEW route</h1>

<form action="/boards" method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="background" placeholder="background color">
  <input type="text" name="image" placeholder="image url">
  <button>Submit</button>
  <a href="/boards">Go back</a>
</form>
