<h1>NEW route</h1>

<form action="/boards" method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="color" name="background">
  <button>Submit</button>
  <a href="/boards">Go back</a>
</form>
