.list{
    min-height: 300px;
    width: 250px;
    padding: 10px;
    background: rgba(201, 201, 201, 0.856);
    border-radius:10px;
    margin: 20px 0 20px 20px;
}

.list-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px; 
}

