.Header {
  display: flex;
  justify-content: space-between;
  background-color: #026aa7;
  height: 30px;
  padding: 5px 8px;
}


.Header-trello-logo {
  height: 100%;
}

.Header-boards-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  background-color: rgba(255, 255, 255, 0.298);
  color: #f3f3f3;
  text-decoration: none;
}

.Header-boards-btn:hover{
  background-color: rgba(255, 255, 255, 0.498);
}

.Header-boards-btn-icon {
  padding-left: 8px;
}

.Header-boards-btn-text {
  padding: 0 8px;
}

.Header-profile-avatar {
  border-radius: 50%;
}